.form {
   display: flex;
   flex-direction: column;
   width: 100%;
}

.form input {
   background-color: white !important;
   border: solid 3px rgb(131, 0, 95);
   border-radius: 10px;
   width: 50%;
   height: 32px;
   margin: 5px auto 10px auto;
}

.form input:focus {
   border: solid 3px rgb(82, 30, 144);
   outline: none;
}

.form_alert {
   color: red;
   margin-top: -5px;
   margin-bottom: 10px;
}

.form_submit {
   margin-top: 30px;
}

.form label {
   color: white;
   text-align: left;
   width: 50%;
   margin-left: 128px;
}

.form button {
   text-decoration: none;
   color: white;
   width: 26%;
   max-width: 215px;
   margin: auto;
   padding: 15px 20px;
   border-radius: 50px;
   border: none;
   background: linear-gradient(
      to left top,
      rgb(82, 30, 144) 0%,
      rgb(131, 0, 95) 100%
   );
   box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.35);
   transition: 0.3s;
   font-family: 'roboto';
   font-size: 1em;
}

.form button:hover {
   opacity: 0.8;
   box-shadow: 1px 3px 6px rgba(50, 50, 50, 0.7);
   cursor: pointer;
}
