@import '../../../sass/libs/_responsive';
@import '../../../sass/libs/_variables';
@import '../../../sass/libs/_mixins';

.fonctionnement-wrapper {
    padding: 40px 0 75px 0;
    // background-color: #181A1B;

  
    @include large-screen {
      padding: 80px 0 100px 0;
    }
  
    .fonctionnement {
      width: 90%;
      margin: auto;
  
      @include medium-screen {
        width: 100%;
      }
      @include large-screen {
        width: 90%;
      }
  
      h2 {
        font-size: 1.5em;
        margin-bottom: 25px;
        color: white;
  
        @include medium-screen {
          text-align: center;
        }
  
        @include large-screen {
          margin-bottom: 50px;
          font-size: 2em;
        }
      }
  
      &__steps {
        @include medium-screen {
          display: flex;
          justify-content: space-evenly;
        }
      }
  
      &__steps__item {
        display: flex;
        margin: auto;
        max-width: 350px;
        // background: #f6f6f6;
        background-color: rgb(29, 32, 33);
        color: white;
        border-radius: 20px;
        padding: 26px 0;
        font-weight: bold;
        box-shadow: 1px 6px 6px rgba(50, 50, 50, 0.1);
        position: relative;
        transition: 0.3s;
  
        @include medium-screen {
          width: 31%;
        }
  
        @include large-screen {
          max-width: none;
          width: 30%;
        }
  
        &:hover {
          background: rgba(147, 86, 220, 0.1);
  
          @include large-screen {
            transform: scale(1.03);
          }
  
          i {
            color: $color-primary;
          }
        }
  
        &:nth-child(2) {
          margin: 25px auto;
  
          @include medium-screen {
            margin: 0;
          }
        }
  
        i {
          color: $color-quatenary;
          font-size: 1.2em;
          margin: 0 27px 0 36px;
  
          @include medium-screen {
            margin-left: 25px;
            margin-right: 15px;
          }
        }
  
        // &:nth-child(1):before {
        //   content: "1";
        //   @include steps-number;
        //   background: linear-gradient(
        //     to left top,
        //     rgb(82, 30, 144) 0%,
        //     rgb(131, 0, 95) 100%
        // );
        // }
        // &:nth-child(2):before {
        //   content: "2";
        //   @include steps-number;
        //   background: linear-gradient(
        //     to left top,
        //     rgb(82, 30, 144) 0%,
        //     rgb(131, 0, 95) 100%
        // );
        // }
        // &:nth-child(3):before {
        //   content: "3";
        //   @include steps-number;
        //   background: linear-gradient(
        //     to left top,
        //     rgb(82, 30, 144) 0%,
        //     rgb(131, 0, 95) 100%
        // );
        // }
      }
    }
  }

  .fonctionnement__steps__item-counter {
    // @include steps-number;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    height: 23px;
    width: 23px;
    border-radius: 50%;
    background-color: $color-primary;
    color: white;
    position: absolute;
    left: -10px;
    background: linear-gradient(
            to left top,
            rgb(82, 30, 144) 0%,
            rgb(131, 0, 95) 100%
        );
  }